<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      
  
      <div class="social-links">
        <a href="https://www.facebook.com/josip.bognar/"> <img class="socialicons" src="/assets/img/facebook.png"></img> </a> &nbsp; 
        <a href="https://www.linkedin.com/in/josip-bognar/"><img class="socialicons" src="/assets/img/linkedin.png"></img> </a> &nbsp;  
        <a href="https://github.com/Bognar"><img class="socialicons" src="/assets/img/github.png"></img></a>  &nbsp;  
        <a href="mailto:{{ site.email }}"><img class="socialicons" src="/assets/img/mail.png"></img></a>
      </div>
     
    </div>
  
  </footer>