<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
       {{ content }}
       <div class="catmenu"><h1>What about these articles</h1> <br>
        <ul style="list-style-type:none;">
          {%- for post in site.posts -%}
          <li class="postitemsmenu">
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
           </span>
          </li>
          {%- endfor -%}
        </ul>
       </div>
      </div>
      
    </main>

    {%- include footer.html -%}

  </body>

</html>